﻿@page "/fetchaccounts"

@using SampleBlazorApplication.Models
@using SampleBlazorApplication.Data
<h3>Accounts</h3>


<DxDataGrid Data="@accounts" ShowPager="true" ShowFilterRow="false" @ref="@grid" ShowGroupPanel="true" CssClass="table-grid" AllowColumnDragDrop="true" DataNavigationMode="DataGridNavigationMode.VirtualScrolling"
            RowEditStart="@(dataItem => OnRowEditStarting(dataItem))"
            RowInsertStart="@(() => OnRowEditStarting(null))">
    <Columns>





        <DxDataGridColumn Field=@nameof(Account.Amount) Caption="Amount"> </DxDataGridColumn>
        <DxDataGridDateEditColumn Field=@nameof(Account.ServiceDate) Caption="Date" DisplayFormatString="dd/MM/yyy"></DxDataGridDateEditColumn>
        <DxDataGridColumn Field=@nameof(Account.Balance)> </DxDataGridColumn>
        <DxDataGridColumn Field=@nameof(Account.PatientPaid) Caption="Patient Credits"> </DxDataGridColumn>
        <DxDataGridColumn Field=@nameof(Account.PayerPaid) Caption="Payer Credits"> </DxDataGridColumn>
        <DxDataGridColumn Field=@nameof(Account.DeductibleApplied) Caption="Deductible"> </DxDataGridColumn>
        <DxDataGridColumn Field=@nameof(Account.BillId) Caption="Bill#"> </DxDataGridColumn>
        <DxDataGridColumn Field=@nameof(Account.DoctorId) Caption="Provider"> </DxDataGridColumn>
        <DxDataGridColumn Field=@nameof(Account.CptCode) Caption="Procedure"> </DxDataGridColumn>
        <DxDataGridCommandColumn Width="150px" />



    </Columns>
</DxDataGrid>

@code {

}
