﻿@page "/dropdowns"

@using SampleBlazorApplication.Models
@using SampleBlazorApplication.Data
@inject PatientService PatientService
<h3>DropDowns</h3>

<DxComboBox Data="@patients"
            ListRenderMode="@ListRenderMode.Virtual"
            FilteringMode="@DataGridFilteringMode.Contains"
            TextFieldName="FirstName"
            @bind-SelectedItem="@PatientModel">
</DxComboBox>
<button class="btn btn-link" type="button" @onclick="@GetDropDown">GetDropDownValue</button>
<DxPopup HeaderText="Selected Value"
         @bind-Visible="@popupVisible">
    <ChildContent>
        <DxTextBox @bind-Text="@data" />
    </ChildContent>

</DxPopup>

@code {

    private List<PatientModel> patients;
    bool popupVisible = false;
    PatientModel patientModel;
    string data = string.Empty;

    PatientModel PatientModel { get => patientModel; set { patientModel = value; InvokeAsync(StateHasChanged); } }

    protected override async Task OnInitializedAsync()
    {

        patients = await PatientService.GetPatientsAsync();
    }

    async void GetDropDown()
    {
        popupVisible = true;
        data = $"Selected Value {PatientModel.FirstName} {PatientModel.LastName}";
    }

}
