﻿@page "/fetchdevexpresspatients"

@using SampleBlazorApplication.Models
@using SampleBlazorApplication.Data

@inject PatientService PatientService

    @*<DxDataGrid Data="@patients" ShowFilterRow="false"
                RowInserting=@((newValues) => OnRowInserting(newValues))
                RowRemoving=@((dataItem) => OnRowRemoving(dataItem))
                RowUpdating=@((updatingDataItem, newValues) => OnRowUpdating(updatingDataItem, newValues))
                
                RowEditStart="@(dataItem => OnRowEditStarting(dataItem))"
            RowInsertStart="@(() => OnRowEditStarting(null))">*@
        @*<DxFormLayout Data="@editFormData" ItemUpdating="@((fieldName, newValue) => OnItemUpdating(fieldName, newValue))">
            <DxFormLayoutItem Field="@nameof(PatientModel.FirstName)" Caption="First Name:" />
            
            
        </DxFormLayout>*@
    <DxDataGrid Data="@patientmodels" ShowPager="true" ShowFilterRow="true" @ref="@grid" ShowGroupPanel="true" CssClass="table-grid" AllowColumnDragDrop="true"  VerticalScrollableHeight="600" VerticalScrollBarMode="ScrollBarMode.Auto"
                RowEditStart="@(dataItem => OnRowEditStarting(dataItem))"
                RowInsertStart="@(() => OnRowEditStarting(null))"
               DataRowCssClass="test-row" ShowDetailRow="true">
        <Columns>


            @*<HeaderCellTemplate>
            <button type="submit" @onclick="@OnAddButtonClick">Add</button>
        </HeaderCellTemplate>*@
            @*<CellTemplate>
            <button type="submit" @onclick="@OnEditButtonClick">Edit</button>
            <button type="submit" @onclick="@OnDeleteButtonClick">Delete</button>
        </CellTemplate>*@
            @*</DxDataGridCommandColumn>*@
            <DxDataGridColumn Field=@nameof(PatientModel.FirstName)></DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(PatientModel.LastName)> </DxDataGridColumn>
            <DxDataGridColumn Field=@nameof(PatientModel.PhoneNumber) EditorVisible="DefaultBoolean.True"></DxDataGridColumn>
            <DxDataGridDateEditColumn Field=@nameof(PatientModel.Dob) EditorVisible="DefaultBoolean.True" DisplayFormatString="D"
                                      EditFormatString="d"></DxDataGridDateEditColumn>
            <DxDataGridCommandColumn Width="150px" />
        </Columns>
       
        <EditFormTemplate >
            <EditForm Model="@EditContext" Context="EditFormContext" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <DxFormLayout>
                    <DxFormLayoutItem Caption="FirstName" ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <DxTextBox @bind-Text="@EditContext.FirstName" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="LastName" ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <DxTextBox @bind-Text="@EditContext.LastName" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Phone Number" ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <DxTextBox @bind-Text="@EditContext.PhoneNumber" />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem Caption="Date of Birth" ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <DxDateEdit @bind-Date="@EditContext.Dob"></DxDateEdit>
                        </Template>
                    </DxFormLayoutItem>

                    <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <ValidationSummary />
                        </Template>
                    </DxFormLayoutItem>
                    <DxFormLayoutItem ColSpanMd="12" Context="FormLayoutContext">
                        <Template>
                            <div class="dxbs-fl-ctrl dxbs-fl-ctrl-nc text-right">
                                <button class="btn btn-link" type="submit">Save</button>
                                <button class="btn btn-link" type="button" @onclick="@OnCancelButtonClick">Cancel</button>
                            </div>
                        </Template>
                    </DxFormLayoutItem>
                </DxFormLayout>
            </EditForm>
        </EditFormTemplate>
    </DxDataGrid>

    <DxPopup HeaderText="Information"
             @bind-Visible="@popupVisible">
        <ChildContent>
            <DxButton RenderStyle="@ButtonRenderStyle.Success" RenderStyleMode="@ButtonRenderStyleMode.Contained" Text="Success" @bind-Visible="@isSuccess" />
            <DxButton RenderStyle="@ButtonRenderStyle.Danger" RenderStyleMode="@ButtonRenderStyleMode.Contained" Text="Failure" @bind-Visible="@isfailure" />
        </ChildContent>

    </DxPopup>
@code {

    
}
