﻿@page "/fetchpatients"
@page "/refresh-ui-manually"

@using SampleBlazorApplication.Models
@using SampleBlazorApplication.Data
@inject PatientService PatientService
@inject ToastService toastService

<h3>Patient</h3>

<div>

</div>
<div style="float:left">
    <button class="btn btn-primary" @onclick="AddPatient">Add Patient</button>
</div>



@if (patients == null)
{
    <p><em>Loading Patients...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Dob</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var patient in patients)
            {
                <tr>
                    <td>@patient.FirstName</td>
                    <td>@patient.LastName</td>
                    <td>@patient.Dob.ToShortDateString()</td>


                </tr>
            }
        </tbody>
    </table>
}

@if (isAdd)
{
    <div class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">@modalTitle</h3>
                    <button type="button" class="close" @onclick="closeModal">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="FirstName" class="control-label">FirstName</label>
                            <input for="FirstName" class="form-control" @bind="@patient.FirstName" />
                        </div>
                        <div class="form-group">
                            <label for="LastName" class="control-label">LastName</label>
                            <input for="LastName" class="form-control" @bind="@patient.LastName" />
                        </div>
                        <div class="form-group">
                            <label for="Dob" class="control-label">Dob</label>
                            <input for="Dob" type="date" class="form-control" @bind="@patient.Dob" />
                        </div>
                        <div class="form-group">
                            <label for="PhoneNo" class="control-label">PhoneNumber</label>
                            <input for="PhoneNo" class="form-control" @bind="@patient.PhoneNumber" />
                        </div>




                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-block btn-info" @onclick="SavePatient" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
}
@if (isSuccess)
{
<button class="btn btn-info" @onclick="@(() => toastService.ShowToast("I'm an INFO message", Helper.ToastLevel.Info))">Info Toast</button>
}


@code {
    private List<PatientModel> patients;
    public PatientModel patient = new PatientModel();
    protected string modalTitle { get; set; }
    protected Boolean isAdd = false;
    protected Boolean isSuccess;


    protected override async Task OnInitializedAsync()
    {
        isAdd = false;
        patients = await PatientService.GetPatientsAsync();
    }

    private void AddPatient()
    {
        patient = new PatientModel();
        this.modalTitle = "Add Patient";
        this.isAdd = true;

    }

    protected void closeModal()
    {
        this.isAdd = false;

    }

    protected async Task SavePatient()
    {
        bool result=false;
        if (patient.PatientId != Guid.Empty)
        {
            await Task.Run(() =>
            {
                // PatientService.(emp);
            });
        }
        else
        {
            await Task.Run(() =>
            {
                result=PatientService.CreatePatient(patient);
            });
        }
        if (result == true)
        {
            this.isAdd = false;
            toastService.ShowToast("Patient Created Successfully", Helper.ToastLevel.Success);
            await PatientService.GetPatientsAsync();

        }
        else
        {
            this.isSuccess = true;
            toastService.ShowToast("Error in Creating Patient", Helper.ToastLevel.Error);
        }
    }
}
