﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">SampleBlazorApplication</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dropdowns">
                <span class="oi oi-plus" aria-hidden="true"></span> Drop Downs 
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchaccounts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Accounts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchpatients">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Patients
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdevexpresspatients">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Dev Express Grid
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
